# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build output
dist/
.angular/

# Environment files
.env
.env.*
src/environments/environment.local.ts

# IDE / Editor
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Misc
*.log
